.card {
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}
.loading-card {
    height: 250px;
    background-color: rgba(0, 0, 0, 0.11);
}
.rating-div {
    display: flex;
    align-items: center;
    justify-content: center;
}